# Basics terms and types for Python
For clarification and later use, let's first define some terms again and explain the basic data types for the Python programming language.

## Terms
* **Variables** are containers for storing data in memory. They have a _name_ we can refer to and a _value_ which is assigned via `=`, e.g. `x = 5`.
* **Objects** are more complex variables, which bundle data and methods to operate on the data. In Python, everything is an object.
* **Methods** are blocks of code tied to an object ("**m**ethod is **m**ine") and used to perform operations on the objects' data. They are used via dot-annotation, e.g., `object.method()`.
* **Functions** are blocks of reusable code to perform specific tasks and which are independent ("**f**unction is **f**ree").
* **Modules** are files containing Python code (with, e.g., objects, functions) providing additional functionalities. They can be imported into other Python code.

See also
* [Built-in types in Python](https://docs.python.org/3/library/stdtypes.html)
* [Basic types in Python](https://realpython.com/python-data-types/)
* [Built-in functions in Python](https://docs.python.org/3/library/functions.html#built-in-functions)

## Basic types
Variables (which are objects) in Python can hold different types of data - such as boolean values, numbers, text or more complex things.

To check the type and content of such a variable, we can use the built-in functions [`type()`](https://docs.python.org/3/library/functions.html#type) and [`print()`](https://docs.python.org/3/library/functions.html#print).

### Booleans

In [1]:
t = True

In [2]:
type(t)

bool

In [3]:
tf = True & False

In [4]:
type(tf)

bool

In [5]:
print(tf)

False

### Numbers
This is an integer number:

In [6]:
a = 5

In [7]:
type(a)

int

This is a floating point number:

In [8]:
b = 3.5

In [9]:
type(b)

float

When combining variables of different types, Python makes a decision which type the new variable should have

In [10]:
c = a + b

In [11]:
type(c)

float

In [12]:
print(c)

8.5

### Text
Variables can also hold text which internally is stored as a so-called sequence.

We call them a "string" in this case, and define them by surrounding the value with either single quotes ' ' or double quotes " ".

In [13]:
first_name = "Matthias"
last_name = 'Täschner'

In [14]:
type(first_name)

str

We can work with string in various ways. One is to concatenate them with the `+` operator:

In [15]:
first_name + " " + last_name

'Matthias Täschner'

If we want to have single and double quotation marks within our text, we can put them in like this:

In [16]:
text = "She said 'Hi'."
print(text)

She said 'Hi'.

In [17]:
text = 'She said "How are you?".'
print(text)

She said "How are you?".

### Combining different data types

What happens if we want to combine strings and numbers?

In [18]:
first_name + a

TypeError: can only concatenate str (not "int") to str

For this, a type conversion from numeric to string is necessary, which can be done via the `str()` function:

In [19]:
first_name + str(a)

'Matthias5'

We can also convert strings to numbers in case they contain numbers only:

In [20]:
d = "25"

In [21]:
int(d)

25

In [22]:
a + int(d)

30

If the string contains non-numerical characters, an error message is shown:

In [23]:
int("hello1")

ValueError: invalid literal for int() with base 10: 'hello1'

**What happens if we combine the other types? Give it a try...**

### f-strings

Instead of having to manually convert numbers to strings to assemble them with other strings, we can resort to f-strings ([formatted string literals](https://docs.python.org/3/tutorial/inputoutput.html#tut-f-strings)) which are defined by simply adding an f before the opening quote of a regular string:

In [24]:
f"This is an f-string"

'This is an f-string'

We can now add variables directly in this text by surrounding them with curly brackets:

In [25]:
f"a's value is {a}. Doubling the value of a gives {2*a}."

"a's value is 5. Doubling the value of a gives 10."

As you can see above, f-strings can contain as many variables as needed, and curly brackets can contain more than just a variable.  
We can even execute code inside them, i.e., methods on string objects:

In [26]:
f"The first_name variable '{first_name}' contains {first_name.lower().count('t')} t letters."

"The first_name variable 'Matthias' contains 2 t letters."

## Exercise

[Marie Curie](https://en.wikipedia.org/wiki/Marie_Curie)'s name and birthdate are stored in variables. Concatenate them in one string variable and print it out. The output should be "Marie Curie, * 7 November 1867"

In [ ]:
first_name = "Marie"
last_name = "Curie"

birthday_day = 7
birthday_month = "November"
birthday_year = 1867